<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_Resource" />
                <binding name="NetTcpBinding_ResourceFactory" />
                <binding name="NetTcpBinding_Search" />
                <binding name="NetTcpBinding_AccountManagement" />
                <binding name="NetTcpBinding_TopologyManagement" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9389/ActiveDirectoryWebServices/Windows/Resource"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Resource"
                contract="Resource" name="NetTcpBinding_Resource">
                <identity>
                    <servicePrincipalName value="host/dc.hercules.htb" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9389/ActiveDirectoryWebServices/Windows/ResourceFactory"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ResourceFactory"
                contract="ResourceFactory" name="NetTcpBinding_ResourceFactory">
                <identity>
                    <servicePrincipalName value="host/dc.hercules.htb" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9389/ActiveDirectoryWebServices/Windows/Enumeration"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Search"
                contract="Search" name="NetTcpBinding_Search">
                <identity>
                    <servicePrincipalName value="host/dc.hercules.htb" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9389/ActiveDirectoryWebServices/Windows/AccountManagement"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_AccountManagement"
                contract="AccountManagement" name="NetTcpBinding_AccountManagement">
                <identity>
                    <servicePrincipalName value="host/dc.hercules.htb" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9389/ActiveDirectoryWebServices/Windows/TopologyManagement"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TopologyManagement"
                contract="TopologyManagement" name="NetTcpBinding_TopologyManagement">
                <identity>
                    <servicePrincipalName value="host/dc.hercules.htb" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>